__pycache__/
*.py[cod]
.ipynb_checkpoints/
.vscode/
*.egg-info/
result_images/
*.png
Untitled*.ipynb

# use glob syntax.
syntax: glob
*~
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*blx.bib
*.bib.bak
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.run.xml
*.synctex.gz
*.thm
*.nav
*.snm
.DS_Store
*/.DS_Store
code/.ipynb_checkpoints